!!!
%html
  %head
    %title Ingress
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.funnelcrm{class: "#{controller_name} #{controller_name}-#{action_name}"}
    = render 'layouts/navigation'

    .container
      - flash.each do |type, message|
        .alert.flash{class: "alert-#{type}"}
          = message
          %a.close{data: {dismiss: "alert"}, aria_label: "close"} &times;

      = yield
